@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  src: url("./fonts/Pretendard-Thin.otf") format("woff2"),
    url("./fonts/Pretendard-Thin.otf") format("woff"),
    url("./fonts/Pretendard-Thin.otf") format("truetype");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  src: url("./fonts/Pretendard-Regular.otf") format("woff2"),
    url("./fonts/Pretendard-Regular.otf") format("woff"),
    url("./fonts/Pretendard-Regular.otf") format("truetype");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  src: url("./fonts/Pretendard-Medium.otf") format("woff2"),
    url("./fonts/Pretendard-Medium.otf") format("woff"),
    url("./fonts/Pretendard-Medium.otf") format("truetype");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  src: url("./fonts/Pretendard-SemiBold.otf") format("woff2"),
    url("./fonts/Pretendard-SemiBold.otf") format("woff"),
    url("./fonts/Pretendard-SemiBold.otf") format("truetype");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  src: url("./fonts/Pretendard-Bold.otf") format("woff2"),
    url("./fonts/Pretendard-Bold.otf") format("woff"),
    url("./fonts/Pretendard-Bold.otf") format("truetype");
}

html > body {
  font-family: "Pretendard";
  box-sizing: border-box;
}
